#xxx{
    display:block ;
   
  }
  body{
    overflow: hidden;
  }
  ul,ol{
    list-style: none;
  }
  *{
    margin: 0px;
    padding: 0px;
  }
  .actions{
    top: 0;
    position:fixed;
    bottom:0;
    left: 0;
    padding: 20px;
  }
  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .actions svg{
   width: 1.5em;
   height:1.5em;
   transition: all 0.3s;
   margin: 0px 10px;
 }
 .actions svg.active{
   fill:red;
   transform: scale(1.2);
   transition: all 0.3s;
 }
 .colors{
    position: fixed;
    top: 60px;
    left: 28px;
 }
 .colors > li{
   width: 20px;
   height:  20px;
   box-shadow: 0 0 3px rgba(0,0,0,0.25);
   margin: 10px 0;
   border-radius: 50%;
   transform: all 0.3s;
 }
 .colors > li.red{
    background: red;
 }
 .colors > li.green{
  background: green;
}
.colors > li.blue{
  background:blue ;
}
.colors > li.active{
  box-shadow: 0 0 3px rgba(0,0,0,0.95);
  transform: scale(1.2);
  transform: all 0.3s;
}
 